# Prerequisites
*.d
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.json
*.vsidx
*.vc.opendb
*.cd

# Compiled Object files
*.slo
*.sln
*.lo
*.o
*.obj
*.idb
*.illk
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.log
*.suo
*.db
*.db-shm
*.db-wal

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exe.recipe
*.out
*.app
